.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column-full,
.column-half {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin {
  margin: 0, 10px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
    text-align: center;
  }
}
